@mixin image-placeholder-style {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;

  .rethink-hero__art-placeholder {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    padding: 24px;
    text-align: center;
    color: #999;
    font-weight: 500;
    z-index: 0;
    background-image: repeating-linear-gradient(
      -45deg,
      #f8f8f8,
      #f8f8f8 8px,
      #fff 0,
      #fff 16px
    );
    transition: opacity 0.3s ease;
  }

  img,
  .mock-img,
  .product-img {
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.loaded {
      opacity: 1;
    }
  }

  &.loading-finished {
    background-color: #fff;
    .rethink-hero__art-placeholder {
      opacity: 0;
      visibility: hidden;
    }
  }
}
